:root
{
	color-scheme: light dark;
}

html, body
{
	width: 100%;
	height: 100%;
	margin: 0;
	text-align: center;
}

header
{
	text-align: center;
	background-color: greenyellow;
	display: flow-root;
}

main
{
	margin: 30px;
}

table
{
	border-collapse: collapse;
	margin: auto;
}

th, td
{
	border: solid thin;
}

.AttemptField
{
	background-color: red;
}

.Partial
{
	background-color: orange;
}

.Correct
{
	background-color: limegreen;
}

#UniverseList
{
	display: flex;
	border: solid thin purple;
	border-radius: 5px;
	width: 80%;
	height: fit-content;
	padding: 20px;
	margin: auto;
}