:root
{
	color-scheme: light dark;
	--searchFieldWidth: 170px;
}

html, body
{
	width: 100%;
	height: 100%;
	margin: 0;
	text-align: center;
}

header
{
	text-align: center;
	background-color: greenyellow;
	display: flow-root;
}

main
{
	margin: 30px;
}

table
{
	width: 100%;
	table-layout: fixed;
	border-collapse: collapse;
	margin: auto;
}

th, td
{
	border: solid thin;
}

.SearchResult
{
	height: 2.5em;
	display: flex;
}

.SearchResult:hover
{
	background-color: #607080;
}

.SearchResult p
{
	margin: auto;
}

.AttemptField
{
	background-color: red;
	background-position: center;
	background-repeat: no-repeat;
}

.CharacterImage
{
	height: 100%;
	aspect-ratio: 1 / 1;
	object-fit: cover;
}

.Higher
{
	background-image: url(../images/arrowUp.svg);
}

.Lower
{
	background-image: url(../images/arrowDown.svg);
}

.Partial
{
	background-color: orange;
}

.Correct
{
	background-color: limegreen;
}

#UniverseList
{
	display: flex;
	border: solid thin purple;
	border-radius: 5px;
	width: 80%;
	height: fit-content;
	padding: 20px;
	margin: auto;
}

#SearchContainer
{
	display: inline-block;
	width: fit-content;
	margin: auto;
	position: relative;
}

#GuessField
{
	border-radius: 5px;
}

#SearchResults
{
	width: 100%;
	position: absolute;
	background-color: slategray;
	overflow-y: auto;
	max-height: min(20vh, 200px);
}